# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual env
.venv/
venv/

# Editors/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Local data/exports
export*.xlsx
*.log

# Build / cache
dist/
build/
*.spec
